flow3.json
[{"id":"9fce3b55.ff2cf8","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"656106da.38c768","type":"inject","z":"9fce3b55.ff2cf8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":80,"wires":[["4b9671dd.183ba"]]},{"id":"edd07a68.27b668","type":"debug","z":"9fce3b55.ff2cf8","name":"こおおお","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":360,"y":180,"wires":[]},{"id":"4b9671dd.183ba","type":"function","z":"9fce3b55.ff2cf8","name":"func","func":"let aaaa = 123;\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":180,"wires":[["edd07a68.27b668"]]}]